In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [11]:
df = pd.read_csv('IPL.csv')
df.head(2)

,match_id,date,venue,team1,team2,stage,toss_winner,toss_decision,first_ings_score,first_ings_wkts,second_ings_score,second_ings_wkts,match_winner,won_by,margin,player_of_the_match,top_scorer,highscore,best_bowling,best_bowling_figure
0,1,"March 26,2022","Wankhede Stadium, Mumbai",Chennai,Kolkata,Group,Kolkata,Field,131,5,133,4,Kolkata,Wickets,6,Umesh Yadav,MS Dhoni,50,Dwayne Bravo,3--20
1,2,"March 27,2022","Brabourne Stadium, Mumbai",Delhi,Mumbai,Group,Delhi,Field,177,5,179,6,Delhi,Wickets,4,Kuldeep Yadav,Ishan Kishan,81,Kuldeep Yadav,3--18

In [12]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   match_id             74 non-null     int64
 1   date                 74 non-null     str
 2   venue                74 non-null     str
 3   team1                74 non-null     str
 4   team2                74 non-null     str
 5   stage                74 non-null     str
 6   toss_winner          74 non-null     str
 7   toss_decision        74 non-null     str
 8   first_ings_score     74 non-null     int64
 9   first_ings_wkts      74 non-null     int64
 10  second_ings_score    74 non-null     int64
 11  second_ings_wkts     74 non-null     int64
 12  match_winner         74 non-null     str
 13  won_by               74 non-null     str
 14  margin               74 non-null     int64
 15  player_of_the_match  74 non-null     str
 16  top_scorer           74 non-null     str
 17  highscore            74 non-null     int64
 18  best_bowling         74 non-null     str
 19  best_bowling_figure  74 non-null     str
dtypes: int64(7), str(13)
memory usage: 11.7 KB

In [13]:
df['date'] = pd.to_datetime(df['date'])

In [14]:
df['date'].info()

<class 'pandas.Series'>
RangeIndex: 74 entries, 0 to 73
Series name: date
Non-Null Count  Dtype
--------------  -----
74 non-null     datetime64[us]
dtypes: datetime64[us](1)
memory usage: 724.0 bytes

In [15]:
df.shape

(74, 20)

In [17]:
df.isna().sum().sum()

np.int64(0)

In [23]:
match_win = df['match_winner'].value_counts()
print(f"{match_win.idxmax()} - {match_win.max()} wins")

Gujarat - 12 wins